@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

/*All Page Work*/

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Header Work*/
header {
  border-width: 5px;
  background-color: limegreen;
  text-align: center;
  margin: 0;

}

header h1 {
  display: inline-block;
  background-color: purple;
}

header nav {
  display: inline-block;
  background-color: pink;
}

header ul {
  display: inline-block;
  padding: 0;
}

header li {
  display: inline-block;
  background-color: blue;
}

header nav a {
  background-color: #666;
  text-decoration: none;

  color: #fff;
  padding: .5em .75em;
  border-radius: 4px;
}

/*Header Hover State*/
header nav a:hover {
  background-color: #000;
}

/*Toggle Hamburger*/
header ul {
  display: none;
}
.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ ul {
  display: block;
}

label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 40px;
}

label img {
  display: block;
  width: 100%;
}

.nav-check:checked ~ label {
  background-color: green;
}

/*Main Banner Work*/
section.banner {
 background-color: brown;
 padding: 0;
 margin: 0;
}

section.specials {
  background-color: grey;
  margin: 0;
  padding: 1 1em;
}

section.specials h2 {
  background-color: blue;
  display: block;
}
section.specials p {
  background-color: blue;
}

/*Menu*/
section.menu {
  background-color: grey;
  padding: 0 1em;
}

section.menu h2 {
  background-color: green;
}

section.menu p {
  background-color: purple;
}

/*Hours*/
section.hours {
  background-color: grey;
  padding: 1em;

}
section.hours h2 {
  background-color: red;
}

section.hours p {
  background-color: red;
}

/*Ask a Question*/
section.hours p a {
  background-color: #666;
  text-decoration: none;

  color: #fff;
  padding: .5em .75em;
  border-radius: 4px;
}
/*Ask a Question Hover State*/
section.hours p a:hover {
  background-color: #000;
}

/*Location*/

section.location {
  background-color: grey;
  padding: 1em;
}
section.location h2 {
  background-color: red;
}

section.location p {
  background-color: blue;
}

/*Feedback Section Work*/
blockquote {
  margin: 0;
  padding: 0;
}

section.feedback {
  background-color: grey;
  padding: 1em;
}

section.feedback h2 {
  background-color: yellow;
}

section.feedback p {
  background-color: yellow;
}

cite {
  background-color: orange;
}

/*Footer Work*/
.copyright {
  background-color: orange;
  padding: 1em;
}

/*Images*/
.banner-picture {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu-picture {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hours-picture {
  width: 50%;
  float: left;
  text-align: center;
}

.location-picture {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.feedback-picture {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Responsive Design Implementations (hamburger and hover)*/

/*Media Query Adjustments*/
@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .menu-picture {
    display: inline-block;
    width: 20%;
    float: left;
    margin-right: 1em;
    margin-top: 3em;
  }

  section.menu h2 {
    display: inline-block;
    background-color: green;
  }

  section.menu p {
    display: inline-block;
    background-color: purple;
    width: 70%;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

}
@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }
}
