@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

/*
All Page Work
*/

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
Header Work
*/

header {
  border-width: 5px;
  background-color: limegreen;
}

header li {
  display: inline-block;
  background-color: orange;
}

header nav {
  position: relative;
  display: inline-block;
  background-color: pink;
  margin-top: 1em;
}

header nav a {
  background-color: yellow;
  margin: 2em;

  text-decoration: none;
}

header h1 {
  float: left;
  display: inline-block;
  background-color: purple;
}

/*
Main Banner Work
*/
section.banner {
 background-color: brown;
}

section.specials h2 {
  background-color: blue;
  display: block;
}
section.specials p {
  background-color: blue;
}

/*Menu*/
section.menu-items h2 {
  background-color: green;
}

section.menu-items p {
  background-color: purple;
}

/*Hours*/
section.hours h2 {
  background-color: pink;
}

section.hours p {
  background-color: yellow;
}

/*Location*/
section.location h2 {
  background-color: red;
}

/*Feedback Section Work*/
section.feedback {
  background-color: grey;
}

/*Footer Work*/
footer {
}

/*Images*/
.banner-picture {
  width: 40em;
}


/*Responsive Design Implementations (hamburger and hover)*/
@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

    html {
      font-size: 110%;
      line-height: 1.4;
    }
}
@media only screen and (min-width: 60em) {

    html {
      font-size: 120%;
      line-height: 1.5;
    }
}

@media only screen and (min-width: 90em) {

    html {
      font-size: 130%;
      line-height: 1.5;
    }
}
