@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

/* 1.0 All Page Work */

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  -moz-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  font: normal 100%/1.5 Georgia, serif;
  min-width: 20em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* 1.1 Header Work */

header {
  border-width: 5px;
  background-color: grey;
  text-align: center;
  margin: 0;
  position: relative;
  padding: 1em 0 40px;
}

header h1 {
  display: inline-block;
  background-color: grey;
  margin-left: 1em;
}

header nav {
  display: inline-block;
  background-color: grey;
}

header ul {
  display: none;
  padding: 0;
}

header li {
  display: inline-block;
  background-color: grey;
}

header nav a {
  width: 10px;
  background-color: #666;
  text-decoration: none;

  color: #fff;
  padding: .5em .75em;
  border-radius: 4px;
}

/* 1.2 Main Banner Work */

section.banner {
  background-color: grey;
  padding: 1em 0;
  margin: 0;
}

section.specials {
  background-color: grey;
  margin: 0;
  padding: 1em;
}

section.specials h2 {
  display: block;
  font-family: Chewy, cursive;
}

/* 1.3 Menu Work */

section.menu {
  padding: 2em 2em;
}

section.menu h2 {
  font-family: Chewy, cursive;
  margin-bottom: -0.5em;
}

section.menu p {
  overflow: hidden;
}

/* 1.4 Hours Work */

section.hours {
  padding: 1em;
}

section.hours h2 {
  font-family: Chewy, cursive;
}

/* 1.5 Location Work */

section.location {
  background-color: grey;
  padding: 1em;
}

section.location h2 {
  font-family: Chewy, cursive;
}

/* 1.6 Feedback Section Work */

blockquote {
  margin: 0;
  padding: 0;
}

section.feedback {
  background-color: grey;
  padding: 1em;
}

section.feedback h2 {
  font-family: Chewy, cursive;
}

/* 1.7 Footer Work */

.copyright {
  padding: .1em 1em;
}

/* 1.8 Images */

.banner-picture {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.menu-picture {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
}

.hours-picture {
  width: 50%;
  float: left;
}

.location-picture {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.feedback-picture {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 2.0 Responsive Design Implementations (hamburger and hover) */
/* 2.1 Navigation Bar Hover State */

header nav a:hover {
  background-color: #00f;
}

/*See Our Menu*/
div.menu-button {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}

div.menu-button p a{
  background-color: #666;
  text-decoration: none;

  color: #fff;
  padding: .5em .75em;
  border-radius: 4px;
}

/* 2.2 Ask a Question Box */

section.hours p a {
  background-color: #666;
  text-decoration: none;

  color: #fff;
  padding: .5em .75em;
  border-radius: 4px;
}

/*See Our Feedback*/
section.feedback p a {
  background-color: #666;
  text-decoration: none;

  color: #fff;
  padding: .5em .75em;
  border-radius: 4px;
  display: inline-block;
  margin-top: 1em;
}

/* 2.3 Location Box */

section.location p a {
  background-color: #666;
  text-decoration: none;

  color: #fff;
  padding: .5em .75em;
  border-radius: 4px;
}

/* 2.4 Hover States */

.view-more:hover {
  background-color: #00f;
}

section.hours p a:hover {
  background-color: #00f;
}

section.location p a:hover {
  background-color: #00f;
}

div.menu-button p a:hover {
  background-color: #00f;
}

section.feedback p a:hover {
  background-color: #00f;
}

/* 2.5 Toggle Hamburger */

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ ul {
  display: block;
}

label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 40px;
  position: absolute;
  right: 0;
  top: 5em;
}

label img {
  display: block;
  width: 100%;
}

.nav-check:checked ~ label {
  background-color: grey;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ label .nav-open {
  display: none;
}

.nav-check:checked ~ label .nav-close {
  display: block;
}

/* 3.0 Media Query Adjustments */

/* Media 400 */

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  header h1 {
    padding: 0;
    display: inline-block;
  }

  header nav {
    display: block;
    top: 2em;
  }

  header nav a {
    margin: 1em;
  }

  section.menu {
    text-align: left;
  }

  div.menu-content {
    display: block;
    width: 100%;
    padding-bottom: 2em;
  }

  section.menu h2 {
    display: inline-block;
    margin-top: 0;
  }

  section.menu p {
    display: inline-block;
    width: 70%;
  }

  /* 400 Images */

  .menu-picture {
    display: inline-block;
    width: 20%;
    float: left;
    margin-right: 1em;
    margin-top: 0;
  }
}

/* Media 608 */

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  nav {
    margin-top: 3%;
  }

  div.specials-content {
    width: 50%;
    margin-left: 25%;
    position: absolute;
    margin-top: -40%;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    z-index: 10;
    background-color: #666;
    padding: 0 1em;
  }

  section.menu {
    text-align: center;
  }

  div.menu-content {
    vertical-align: top;
    display: inline-block;
    width: 32%;
    text-align: center;
    max-width: 20em;
  }

  section.hours h2 {
    overflow: hidden;
    width: 73%;
    margin-left: auto;
    margin-right: auto;
  }

  section.hours p {
    width: 73%;
    margin-right: auto;
    margin-left: auto;
  }

  section.location {
    position: relative;
    margin: auto;
    padding: 1em;
  }

  section.location h2 {
    margin: 0 6.5em;
  }

  section.location p {
    margin: 0 9.8em;
    padding: 1em 0;
  }

  section.location p a {
    margin: 1em 0;
  }

  blockquote {
    margin: .5em;
  }

  section.feedback {
    padding: .5em 0 5em;
  }

  section.feedback h2 {
    margin-left: 1em;
  }

  section.feedback blockquote {
    display: inline-block;
    width: 70%;
    margin-top: .5em;
  }

  section.feedback p {
    margin-top: 0;
  }

  cite {
    background-color: grey;
  }

  /* 608 Images */

  .menu-picture {
    float: none;
    width: 50%;
    margin: 1em 0 1em 1em;
  }

  .hours-picture {
    width: 10%;
    float: left;
    margin-right: 1em;
  }

  .hours-picture:nth-child(2) {
    float: right;
  }

  .location-picture {
    padding-bottom: 1em;
    width: 50%;

  }

  .feedback-picture {
    width: 20%;
    display: inline-block;
    float: left;
    margin-right: 0.5em;
    margin-left: 1em;
    max-height: 10em;
  }

  .nav-open {
    display: none;
  }

  .nav-check:checked ~ label .nav-close {
    display: none;
  }

  header ul {
    display: inline-block;
  }
}

/* Media 960 */

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    padding: 1em;
  }

  header h1 {
    background-color: grey;
    margin: 0;
    padding: .9em 1em 0;
    display: inline-block;
  }

  header nav {
    display: inline-block;
  }

  div.specials-content {
    width: 50%;
    margin-left: 25%;
    position: absolute;
    margin-top: -28%;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    z-index: 10;
    background-color: #666;
  }

}

/* Media 1440 */

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  div.specials-content {
    width: 50%;
    margin-left: 25%;
    position: absolute;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    z-index: 10;
    background-color: #666;
    padding: 0 2em;
  }

  .location-content {
    margin-left: 25%;
    max-width: 50%;
  }

  .hours-content {
    margin-left: 25%;
    max-width: 50%;
  }
}
