@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

/* 1.All Page Work */

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* 1.Header Work */

header {
  border-width: 5px;
  background-color: limegreen;
  text-align: center;
  margin: 0;
}

header h1 {
  display: inline-block;
  background-color: purple;
}

header nav {
  display: inline-block;
  background-color: pink;
}

header ul {
  display: inline-block;
  padding: 0;
}

header li {
  display: inline-block;
  background-color: blue;
}

header nav a {
  background-color: #666;
  text-decoration: none;

  color: #fff;
  padding: .5em .75em;
  border-radius: 4px;
}

/* 1.Main Banner Work */

section.banner {
  background-color: brown;
  padding: 1em 0;
  margin: 0;
}

section.specials {
  background-color: grey;
  margin: 0;
  padding: 1em;
}

section.specials h2 {
  background-color: blue;
  display: block;
}

section.specials p {
  background-color: blue;
}

/* 1.Menu Work */

section.menu {
  background-color: grey;
  padding: 0 1em;
}

section.menu h2 {
  background-color: green;
}

section.menu p {
  background-color: purple;
}

/* 1.Hours Work */

section.hours {
  background-color: grey;
  padding: 1em;
}

section.hours h2 {
  background-color: red;
}

section.hours p {
  background-color: red;
}

/* 1.Location Work */

section.location {
  background-color: grey;
  padding: 1em;
}

section.location h2 {
  background-color: red;
}

section.location p {
  background-color: blue;
}

/* 1.Feedback Section Work */

blockquote {
  margin: 0;
  padding: 0;
}

section.feedback {
  background-color: grey;
  padding: 1em;
}

section.feedback h2 {
  background-color: yellow;
}

section.feedback p {
  background-color: yellow;
}

cite {
  background-color: orange;
}

/* 1.Footer Work */

.copyright {
  background-color: orange;
  padding: .1em 1em;
}

/* 1.Images */

.banner-picture {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.menu-picture {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hours-picture {
  width: 50%;
  float: left;
  text-align: center;
}

.location-picture {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.feedback-picture {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 2.Responsive Design Implementations (hamburger and hover) */
/* 2.Header Hover State */

header nav a:hover {
  background-color: #000;
}

/* 2.Ask a Question Box and Hover State */

section.hours p a {
  background-color: #666;
  text-decoration: none;

  color: #fff;
  padding: .5em .75em;
  border-radius: 4px;
}

section.hours p a:hover {
  background-color: #000;
}

/* 2.Location Box and HoverState */

section.location p a {
  background-color: #666;
  text-decoration: none;

  color: #fff;
  padding: .5em .75em;
  border-radius: 4px;
}

section.location p a:hover {
  background-color: #000;
}

/* 2.Toggle Hamburger */

header {
  position: relative;
  padding: 1em 0 40px;
}

header ul {
  display: none;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ ul {
  display: block;
}

label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 40px;

  position: absolute;
  right: 0;
  bottom: 0;
}

label img {
  display: block;
  width: 100%;
}

.nav-check:checked ~ label {
  background-color: green;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ label .nav-open {
  display: none;
}

.nav-check:checked ~ label .nav-close {
  display: block;
}

/* 3.Media Query Adjustments */

/* Media 400 */

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .menu-picture {
    display: inline-block;
    width: 20%;
    float: left;
    margin-right: 1em;
    margin-top: 3em;
  }

  section.menu h2 {
    display: inline-block;
    background-color: green;
  }

  section.menu p {
    display: inline-block;
    background-color: purple;
    width: 70%;
  }
}

/* Media 608 */

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  section.banner {
    position: relative;
  }

  section.specials {
    position: absolute;
    text-align: center;
    font-size: 1em;
    width: 50%;

    background-color: #666;
    text-decoration: none;

    color: #fff;
    padding: .5em .75em;
    border-radius: 4px;
    left: 12em;
    top: 27em;
  }

  section.hours h2 {
    background-color: red;
    padding: 0 1em;
  }

  section.hours p {
    margin: 1em 4em;
  }

  section.hours p a {
    margin: 0;
  }

  section.location {
    max-width: 40em;
    margin: auto;
    padding: 1em;
  }

  section.location h2 {
    margin: 0 6.5em;
  }

  section.location p {
    margin: 0 9.8em;
    padding: 1em 0;
  }

  section.location p a {
    margin: 1em 0;
  }

  blockquote {
    margin: 1em;
  }

  section.feedback {
    padding: 2em 0 3em;
  }

  section.feedback h2 {
    background-color: yellow;
    margin-left: 1em;
  }

  section.feedback p {
    background-color: yellow;
    display: inline-block;
    width: 74%;
    padding-top: 1.2em;
  }

  cite {
    background-color: orange;
  }

  /* 3.Images */

  .menu-picture {
    width: 10%;
    float: none;
  }

  .hours-picture {
    width: 10%;
    float: left;
    text-align: center;
  }

  .hours-picture:nth-child(2) {
    float: right;
  }

  .location-picture {
    width: 50%;
  }

  .feedback-picture {
    width: 20%;
    display: inline-block;
    float: left;
    margin-right: 1em;
  }
}

/* Media 960 */

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }
}

/* Media 1440 */

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }
}
